@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto:300,400|Roboto+Mono:300,400');
// Variables 
// Image URL
$fonts: 'Open Sans', 'Roboto', 'Ubuntu', 'Segoe UI', sans-serif;
$header-fonts: 'Roboto', 'Ubuntu', sans-serif;
$mono-font: 'Roboto Mono', monospace, sans-serif;
$primary-text: #28313d;
$secondary-text: #2c3643;
$primary-text-light: #fafafa;
$acent-color: #757575;
$acent-color-light: #f3f3f3;
$chat-background-dark: #404040;
$primary-background-dark: $primary-text;
$primary-background-light: $primary-text-light;
$box-shadow:-2px -2px 2px rgba(0,0,0,.1), 2px 2px 2px rgba(0,0,0,.1);
$message-box-shadow: -0 -3px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

// Mixins
@mixin flexbox($display, $direction, $just-cont, $align-items:null, $grow:null) {
	display: $display;
	flex-direction: $direction;
	justify-content: $just-cont;
	align-items: $align-items;
	flex-grow: $grow;
}

@mixin size($width, $height, $max-width:null, $max-height:null){
	width: $width;
	height: $height;
	max-height: $max-height;
	max-width: $max-width;
}

@mixin text($font_size, $family, $color, $text-align:null, $font-weight:null, $word-wrap:null){
	font-family: $family;
	font-size: $font_size;
	color: $color;
	text-align: $text-align;
	font-weight: $font-weight;
	word-wrap: $word-wrap;
}

@mixin space($padding, $margin){
	padding: $padding;
	margin: $margin;
}